<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloggify.gg</title>
    <link rel="stylesheet" href="./styles/header.css" > 
</head>
<body>
    <main>
    <div class="border">
<div class="flexcointainer1">
    <div><img class="logo1" src="./images/Reading.png" ></div>
    <div>
    <h1>  Bloggify </h1>
    <P>Write anonymously...</P>
    </div>
</div>

<div class="flexcontainer2">
    <div>
        <h3> Contact us </h3>
    </div>
    <div>
        <h3> About us </h3>
    </div>
</div>







